.numero, .resultado {
    background-color: aquamarine;
    height: 3rem;
    padding: 1rem;
    margin-bottom: 2rem;
}
#adição {
    background-color: gainsboro;
    color: black;
    font-weight: bold;
    text-align: left;
}
#subtração {
    background-color: gainsboro;
    color:black;
    font-weight: bold;
    text-align: left;
}
#multiplicação {
    background-color: gainsboro;
    color: black;
    font-weight: bold;
    text-align: left;
}
#divisão {
    background-color: gainsboro;
    color: black;
    font-weight: bold;
    text-align: left;
}
#potenciação {
    background-color: gainsboro;
    color: black;
    font-weight: bold;
    text-align: left;
}
input {
    text-align: right
}