.numero, .resultado, .erro {
    background-color: aqua;
    color: black;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif
    
    
}

.botao {
    background-color: green;
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 10rem;
    height: 2.2rem;
}
.bot {
    text-align: center;
    background-color:white;
    width: 8rem;
    height: 1.8rem;
    border: 3px solid blue;
}
.link {
    color:black;
    text-decoration: none;
    

    
}